.container {
    background-color: white;
    color: black;
}

.header {
    background-color: orange;
    padding: 10px;
    text-align: center;
}

.button {
    background-color: orange;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.button:hover {
    background-color: black;
    color: orange;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
}